.maplocation{
    padding-bottom: 3%;
}

.map{
    min-width: 90%;
    /* max-width: 100%; */
    min-height: 400px;
    margin: 20px 5% 39px 5%;
}
.location{
    max-width: 90%;
    margin: 10px 5% 0px 5%;
}
.location h2{
    color: rgba(255, 255, 255, 0.92);
    font-weight: 300;
    font-size: 1.6em;
    margin: 0px;
}
.location h1{
    font-size: 191%;
    color: red;
    padding: 2% 0 2% 0;
    font-weight: 300;
    margin: 0px;
}
.location p{
    font-weight: 100px;
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.1em;
    line-height: 150%;
}
.location button{
    border: 5px solid transparent;
    border-radius: 8px;
    margin-top: 2px;
    padding: 5px 7px 5px 7px;
    font-size: 1.3em;
    background-color: rgb(255, 0, 0);
    color: rgba(255, 255, 255, 0.92);
    font-weight: 200;
    margin-bottom: 2.5rem;
}
.location button:hover{
    cursor: pointer;
    background-color: rgb(255, 35, 35);
}
@media screen and (min-width:700px) {
    .maplocation{
        display: flex; 
    }
    .map{
        min-width: 35%;
        min-height: 350px;
    }
    .location{
        max-width: 40%;
    }
}
@media (max-width:350px) {
    .map{
        width: 50%;
    }
}