.progressWrap{
    height: 50px;
    width: 50px;
    background-color: rgb(82, 82, 82);
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 9998;
    cursor: pointer;
}



#progressValue svg {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(5px);
  }
}
