.Gallery h2{
    font-size: 2em;
    color: #e62b1e;
    font-weight: 400;
    margin-bottom: 3vh;
}
.Gallery{
    margin-top: 5%;
}
.scroll_container {
    display: flex;
    overflow: hidden; 
    white-space: nowrap;
    padding: 20px 0;
    scale: 1.5;
    margin-inline: 5%;
    margin: 9%;
    height: 100%;
}
.heading_sponsors {
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    color: #ff0000;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scroll_container .scroll_content {
    display: flex;
    animation: scroll 50s linear infinite; 
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.scroll_container img {
     
    margin: 0 15px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}








.film_border {
    position: relative;
    
    padding-top: 8px; 
    padding-bottom: 8px;
}
.film_border::before,
.film_border::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px;
  background-image: repeating-linear-gradient(
    to right,
    #000 0,
    #000 10px,
    transparent 10px,
    transparent 20px
  );
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.film_border::before {
  top: -15px;
}

.film_border::after {
  bottom: -15px;
}

.film_border img {
  

  z-index: 2;
  
}


@media screen and (max-width: 1000px) {
    .film_border::before,
    .film_border::after{
        height: 9px;
    }
    .film_border::before {
        top: -6px;
      }
      
      .film_border::after {
        bottom: -6px;
      }
}

@media screen and (max-width: 500px) {
    .film_border::before,
    .film_border::after{
        height: 8px;
    }
    .film_border::before {
        top: -5px;
      }
      
      .film_border::after {
        bottom: -5px;
      }
      .scroll_container .scroll_content {
        display: flex;
        animation: scroll 50s linear infinite; 
        background-color: #ffffff;
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
}
