.Gallery h2{
    font-size: 2em;
    color: #e62b1e;
    font-weight: 400;
    margin-bottom: 3vh;
}
.Gallery{
    margin-top: 5%;
}
.scroll_container {
    display: flex;
    overflow: hidden; /* Hide content outside the container */
    white-space: nowrap;
    padding: 20px 0;
    scale: 1.5;
    margin-inline: 5%;
    margin: 9%;
    height: 100%;
}
.heading_sponsors {
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    color: #ff0000;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.scroll_container .scroll_content {
    display: flex;
    animation: scroll 50s linear infinite; /* Animation for auto-scroll */
    background-color: red;
    padding-top: 3%;
    padding-bottom: 3%;
    
}

.scroll_container img {
     /* Adjust image height */
    margin: 0 15px;
    flex-shrink: 0;/* Make the images circular */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Scroll to the left */
    }
}
.sponsor_title {
    font-size: 0.8rem;
    font-weight: 200;
    color: #ffffff;
    margin-top: 5px;
    text-align: center;
}






.sponsor_item {
    position: relative;

}

.sponsor_item::before,
.sponsor_item::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px;
    
    border-top: 8px dashed black;
    z-index: 1;
}

.sponsor_item::before {
    top: -18px /* Top dotted line */
}

.sponsor_item::after {
    bottom: -18px; /* Bottom dotted line */
}

.sponsor_item img {
    
    
    
    
    z-index: 2;
}








